extends ../layout.pug 

block content
  div.main-container
    h2.content-title Reset Password
    p.red-filter NOTE: **This feature is not yet implemented**
    form.login-form(role='form', action="/reset_password",method="post")
      .form-element
        label.form-label(name='username') Email/Username
        br
        input.form-control(type='text', name="username", placeholder='Enter Email' required disabled)
        br
        br
      .form-button
        button.btn.btn-default(type='submit') Send Email
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
        
       

        